body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 20px !important;
}

h3, h4, h5 {
  text-align: center;
}

h3 {
  color: #9C747C !important;
  font-size: 3em !important;
}

/* background color palette */
.bg-grey {
  background-color: #d9d9d9 !important;
}

.bg-yellow {
  background-color: #f7bc58 !important;
}

.bg-kobi {
  background-color: #E3A5B7 !important;
}

.bg-scorpio {
  background-color: #565656 !important;
}

.bg-vanillaice {
  background-color: #F7E6EA !important;
}

.bg-bazaar {
  background-color: #9C747C !important;
}

/* text color palette */
.color-kobi {
  color: #E3A5B7 !important;
}

.color-scorpio {
  color: #565656 !important;
}

.color-vanillaice {
  color: #F7E6EA !important;
}

.color-bazaar {
  color: #9C747C !important;
}

.fab,
.far,
.fas
{
  color: #F7E6EA !important;
}

#portfolio, 
#about, 
#contact {
  padding: 60px 0 0;
}

#header {
  min-height: 380px;
  padding-top: 200px;
  margin-top: -70px;
}
